@charset "utf-8";
/* CSS Document */
body{
	margin-top: 3rem;
}

#registerText{

	padding-top:10px;
	font-size: 0.8rem;
	color:black;
	text-align: center;
	align-items: center;
}
#rodape{
	text-align: center;
	align-items: center;
	font-size: 0.8rem;
	padding:0.5rem;
	margin-top:10rem;
}